@import '../../css/variables/colors.scss';
@import '../../css/variables/fontSizes.scss';

.horizontalCardContent {
	margin: 1rem;

	&__image {
		width: 50%;
		height: 50%;
	}
}

.verticalCardContent {
	&__image {
		width: 80%;
		height: 80%;
		transition:
			width 1s,
			height 1s;
	}

	&__image:hover {
		width: 90%;
		height: 90%;
	}
}

.cardContent {
	&__favorite {
		color: $red;
	}

	&__info {
		color: $white;
		transition: color 2s;
	}

	&__info:hover {
		color: $gray;
	}

	&__pokemonInfoId {
		color: $white;
		font-size: $size-md;
		font-weight: $text-bold;
		text-shadow: 2px 2px 4px $black;
	}

	&__pokemonInfoName {
		color: $white;
		font-size: $size-lg;
		font-weight: $text;
		text-transform: capitalize;
		text-shadow: 2px 2px 4px $black;
	}
}

.cardContent__badgeList {
	flex-direction: column;
}

.pokemon__characteristics {
	color: $white;
	font-size: $size-sm;
	font-weight: $text;
	text-shadow: 2px 2px 4px $black;

	&__pokemonValue {
		font-weight: $text-bold;
	}
}

@media screen and (min-width: 700px) {
	.horizontalCardContent {
		flex-direction: row;
		margin: 2rem;

		&__image {
			width: 40%;
			height: 40%;
		}
	}

	.cardContent__badgeList {
		flex-direction: row;
	}
}
