.pokemonList {
	width: 100%;
	gap: 2rem;
	margin: 2rem 0rem;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.pokemonList {
		width: 80%;
		gap: 2rem 3rem;
	}
}

@media screen and (min-width: 1200px) {
	.pokemonList {
		width: 80%;
		gap: 2rem 3rem;
	}
}
