@import "../../css/variables/colors.scss";

.card {
  border: 1px solid $white;
}

.sm {
  width: 50%;
}

.md {
  width: 80%;
}

.lg {
  width: 80%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sm {
    width: 20%;
  }

  .md {
    width: 30%;
  }

  .lg {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .sm {
    width: 20%;
  }

  .md {
    width: 30%;
  }

  .lg {
    width: 80%;
  }
}
