@import '../../css/variables/colors.scss';
@import '../../css/variables/fontSizes.scss';

.badge {
	font-size: $size-xs;
	font-weight: $text;
	color: $white;
	border: 1px solid $white;
	text-shadow: 2px 2px 4px $black;
}
